body{
	background-color:#EEFFDD;
	font-family: Microsoft JhengHei;
	font-size:80px;
}

iframe{
	position:fixed;
	top:0px;
	left:0px;
	overflow:hidden;
	height:100%;
	width:100%;
}

.title{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100px;

	border:0px;
	color: #FFFFFF;
	background-color:#66FF88;

	text-align:center;
	text-align-last:center;
	line-height:100px;
}

.alert{

	position:fixed;
	top:120px;
	left:5px;
	height:80px;
	width:calc(100% - 20px);
	
	border:3px solid red;
	border-radius:20px;
	
	background-color:#FFAAAA;
	
	font-size:0.6em;
	text-align:center;
	color:red;
	
	overflow:auto;

}

.listbtn{
	position:fixed;
	top:0px;
	right:0px;
	width:100px;
	height:100px;

	border:2px;
	color: #FFFFFF;
	background-color:#66FF88;

	text-align:center;
	line-height:100px;
}

.post{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
}

.sdbtn{

	width:200px;
	height:105px;

	opacity:1;
	transform: translate(0,0);
	transition:all .2s ease-in 0s;
	border:1px;
	background-color:#44FF66;
	color: #FFFFFF;
	text-shadow: 0px 0px 2px #FFFFFF;
	font-size: 1em;

}

.sdbtn:hover{
	border:3px;
	opacity:1;
	background-color:#66FF88;
	box-shadow: 0px 0px 10px #FFFFFF inset;
}

.sdtext{

	width: calc(100% - 208px);
	height:100px;

	border:3px;
	border-style:solid;
	background-color:#ffffff;
	color: #88CCFF;
	text-shadow: 0px 0px 2px #88CCFF;
	font-size: 1em;

}


.userbtn{

	max-width:500px;
	width:95%;
	height:80px;

	opacity:1;
	transform: translate(0,0);
	transition:all .2s ease-in 0s;
	border:1px;
	background-color:#44FF66;
	color: #FFFFFF;
	text-shadow: 0px 0px 2px #FFFFFF;
	font-size:0.6em;

}

.userbtn:hover{
	border:2px;
	opacity:1;
	background-color:#66FF88;
	box-shadow: 0px 0px 10px #FFFFFF inset;
}

.act{

	max-width:500px;
	width: 95%;
	height:70px;

	border:3px;
	border-style:solid;
	background-color:#ffffff;
	color: #88CCFF;
	text-shadow: 0px 0px 2px #88CCFF;
	font-size:0.6em;

}

.pwd{

	max-width:500px;
	width: 95%;
	height:70px;

	border:3px;
	border-style:solid;
	background-color:#ffffff;
	color: #88CCFF;
	text-shadow: 0px 0px 2px #88CCFF;
	font-size:0.6em;

}

.iframe-out-div{
	position: absolute;
	top: 100px;
	left:0px;
	width: 100%;
	height: calc(100% - 200px);
	overflow-y:auto;
}

.iframe{
	position:absolute;
	width: 100%;
}

.load-msg{
	width:100%;
	height:100%;
	max-width:100%;
	font-size:0.6em;
}

.send-msg{
	float:right;
	max-width:70%;
	
	border:1px solid #CCCCCC;
	border-radius:50px;
	
	background-color:#CCCCCC;
	color:#000000;
	
	margin:10px;
	padding:20px;
	clear:both;
}

.receive-msg{
	float:left;
	max-width:70%;
	
	border:1px solid #AAFF66;
	border-radius:50px;
	
	background-color:#AAFF66;
	color:#000000;
	
	margin:10px;
	padding:20px;
	clear:both; 
}
